body
{
  padding-top: 2.5em;
  height: 100vh;
}


.navbar {
  background: #7F0000;
  padding: 0px;
}

.nav-item{
  color:white;
}

.nav-link
{
  color: white;
  font-family: sans-serif;
  font-size: 1.3em;
}

.nav-link:hover
{
  color:white;
  background-color: #590000;
  transition-duration: .3s;
}

.nav-link:focus
{
  color: white;
}
